/* xxl-large device(larger desktops,1400px and up) */
@media(min-width:1400px){}

/* x-large device(large desktops, 1200px and up) */
@media(min-width:1200px) and (max-width:1399.98px){

}

/* large device( desktops, 992px and up) */
@media(min-width:992px) and (max-width:1199.98px){
    #navbarNav ul li a {
        margin: 5px;
    }
    #banner {
        height: 575px;
        padding-top: 142px;
    }
}

/* medium device(tablets, 768px and up) */
@media(min-width:768px) and (max-width:991.98px){
    #navbarNav ul li a {
        padding: 12px 25px;
        margin: 5px;
    }
    #banner .rasel h1 {
        font-size: 63px;
        letter-spacing: 7px;
    }
    #banner {
        height: 440px;
        padding-top: 80px;
    }
}

/* smaill device(landscape phone, 576px and up) */
@media(min-width:576px) and (max-width:767.98px){
    #navbarNav ul li a {
        padding: 11px 25px;
        margin: 5px;
    }
    #banner .rasel h1 {
        font-size: 63px;
        letter-spacing: 7px;
    }
    #banner {
        height: 440px;
        padding-top: 80px;
    }
}


/* smaill device(landscape phone, 576px and up)  */
@media(max-width:575.98px){
    #navbarNav ul li a {
        padding: 9px 25px;
        margin: 5px;
    }

}